<mat-card class="example-card" *ngIf="!loading && ship().symbol">
    <mat-card-header>
        <mat-card-title mat>
            {{ ship().registration.name }} ({{ ship().registration.factionSymbol }})
        </mat-card-title>
        <mat-card-subtitle mat>
            {{ ship().registration.role }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="label-and-text">
            <label>NAV > Status</label>
            <div>{{ship().nav.status}}</div>
        </div>
        <div class="label-and-text">
            <label>NAV > Waypoint</label>
            <button mat-button (click)="showWaypoint(ship().nav.waypointSymbol)">{{ship().nav.waypointSymbol}}</button>
        </div>
        <div class="label-and-text">
            <label>Fuel</label>
            <mat-progress-bar mode="determinate"
                [value]="ship().fuel.current / ship().fuel.capacity * 100"></mat-progress-bar> {{ship().fuel.capacity}}
        </div>
        <div class="label-and-text">
            <label>FRAME</label>
            <div>
                <div class="label-and-text">
                    <label>Name</label>
                    <div>{{ ship().frame.name}}</div>
                </div>
                <div class="label-and-text">
                    <label>Description</label>
                    <div>{{ ship().frame.description}}</div>
                </div>
            </div>
        </div>
        <div class="label-and-text">
            <label>CARGO</label>
            <div>
                <div class="label-and-text">
                    <label>capacity</label>
                    <div>{{ ship().cargo.capacity}}</div>
                </div>
                <div class="label-and-text">
                    <label>capacity</label>
                    <div>{{ ship().cargo.units}}</div>
                </div>
                <div class="label-and-text">
                    <label>inventory</label>
                    <div>
                        <div *ngFor="let inventoryItem of ship().cargo.inventory">
                            <div class="label-and-text">
                                <label>Name</label>
                                <div>{{ inventoryItem.name}}</div>
                            </div>
                            <div class="label-and-text">
                                <label>Description</label>
                                <div>{{ inventoryItem.description}}</div>
                            </div>
                            <div class="label-and-text">
                                <label>Units</label>
                                <div>{{ inventoryItem.units}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="label-and-text">
            <label>MODULES</label>
            <div>
                <div *ngFor="let module of ship().modules" class="label-and-text">
                    <label>{{module.name}}</label>
                    <div>{{ module.description}}</div>
                    <div>{{ module.capacity}}</div>
                </div>
            </div>
        </div>
        <div class="label-and-text">
            <label>Mounts</label>
            <div>
                <div *ngFor="let mount of ship().mounts" class="label-and-text">
                    <label>{{mount.name}}</label>
                    <div>{{ mount.description}}</div>
                    <div>{{ mount.strength}}</div>
                </div>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="fromList" mat-raised-button color="primary" (click)="goToShip()">Go To Ship</button>
        <button *ngIf="!fromList" mat-raised-button color="primary" (click)="viewShips()">View Ships</button>
        <button mat-raised-button color="primary" (click)="dockShip()" [disabled]="ship().nav.status === 'DOCKED'">Dock
            Ship</button>
        <button mat-raised-button color="primary" (click)="refuelShip()"
            [disabled]="ship().nav.status !== 'DOCKED'">Refuel Ship</button>
        <button mat-raised-button color="primary" (click)="orbitWaypoint()"
            [disabled]="ship().nav.status !== 'DOCKED'">Orbit Wayoint</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="extractMinerals()"
            [disabled]="extractDisabled">{{extractCooldown ? 'Extracting ' + extractCooldown : 'Extract' }}</button>
    </mat-card-actions>
</mat-card>