<h1 mat-dialog-title>Select Ship</h1>
<div mat-dialog-content>
  <p>Which ship shall navigate to {{data.destination.symbol}}</p>
  <mat-form-field appearance="fill">
    <mat-label>Ship for Navigation</mat-label>
    <mat-select [(ngModel)]="selectedShip" name="ship">
      <mat-option *ngFor="let ship of ships()" [value]="ship.symbol">
        {{ship.symbol}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="selectedShip" cdkFocusInitial color="primary">Ok</button>
</div>