<section class="">
  <h1>Marketplace <button mat-button (click)="goToWaypoint()">{{ marketplace().symbol}}</button></h1>
</section>
<mat-accordion>
  <mat-expansion-panel *ngIf="marketplace().exchange.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exchange
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let good of marketplace().exchange">
        <mat-icon matListItemIcon>shopping_bag
        </mat-icon>
        <div matListItemTitle>{{good.name}}</div>
        <div matListItemLine>{{good.description}}</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="marketplace().transactions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transactions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let transaction of marketplace().transactions">
        <mat-icon matListItemIcon>shopping_bag
        </mat-icon>
        <div matListItemTitle>{{transaction.type}}</div>
        <div matListItemLine>{{transaction.shipSymbol}}</div>
        <div matListItemLine>{{transaction.tradeSymbol}}</div>
        <div matListItemLine>{{transaction.units}}</div>
        <div matListItemLine>{{transaction.pricePerUnit}}</div>
        <div matListItemLine>{{transaction.totalPrice}}</div>
        <div matListItemLine>{{transaction.timestamp | date:'medium'}}</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="marketplace().tradeGoods">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trade Goods
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <app-marketplace-trade *ngFor="let tradeGood of marketplace().tradeGoods" [tradeGood]="tradeGood" [ship]="shipInMarket()">

      </app-marketplace-trade>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="marketplace().imports">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Imports
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let transaction of marketplace().imports">
        <mat-icon matListItemIcon>shopping_bag
        </mat-icon>
        <div matListItemTitle>{{transaction.name}}</div>
        <div matListItemLine>{{transaction.description}}</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="marketplace().exports">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exports
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let transaction of marketplace().exports">
        <mat-icon matListItemIcon>shopping_bag
        </mat-icon>
        <div matListItemTitle>{{transaction.name}}</div>
        <div matListItemLine>{{transaction.description}}</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
